body::-webkit-scrollbar {
  width: 0.4rem;
}
body::-webkit-scrollbar-track {
  background: #070720;
}
body::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 20px;
  padding: 2px;
  max-height: 20px;
}
